body {
    width: 1600px;
    margin: 0px;
}
header {
    margin-top: 0px;
    height: 80px;
    background-color: #034BB5;
    padding-left: 35px;
    padding-top: 30px;
}

h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    margin: 0px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 25px;
    margin-bottom: 10px;
}
.edit_form {
    padding-left: 380px;
    padding-top: 35px;
}

label {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}
#txt_deptcode_update, #txt_deptname_update, #txt_remarks_update, #txt_empcode_update, #txt_firstname_update, #txt_lastname_update, #txt_deptcode_update2 {
    margin-right: 15px;
    height: 30px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}
#txt_deptcode_update2{
    font-size: 16px;
    width: 250px;
    text-align: center;
    font-weight: bold;
}
#txt_deptcode_update, #txt_empcode_update, #txt_deptcode_update2 {
    background-color: #D9D9D9;
}
#ddl_status_update {
    text-align: center;
    width: 80px;
    background-color: gray;
    color: white;
    font-size: medium;
    margin-right: 25px;
}
hr {
    margin-bottom: 30px;
}
#button_update_department, #button_update_employee{
    width: 80px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: orangered;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
th{
    height: 35px;
}
td{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    height: 25px;
}
a.back_homepage {
    margin-top: 15px;
    margin-left: 20px;
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.back_homepage:hover, a.back_homepage:active {
    background-color: green;
    color: white;
}